.pagination {
  display: flex;
  margin: 0;
  padding: 0;
}

.page {
  background-color: #e3e3e3;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  height: 27px;
  line-height: 27px;
  list-style: none;
  margin-left: 9px;
  text-align: center;
  width: 27px;

  &:first-child {
    margin-left: 0;
  }

  > a {
    color: #000;
    display: block;
    font-size: 12px;
    height: 27px;
    width: 27px;
  }
}

.page_active {
  background-color: #315b95;
  color: #fff;
  cursor: default;

  > a {
    color: #fff;
  }
}

.break,
.next,
.prev {
  @extend .page;
}

.break,
.disabled {
  cursor: default;
}

.next,
.prev {
  background-color: #4c4c4c;
  background-position: center;
  background-repeat: no-repeat;
}

.next.disabled,
.prev.disabled {
  background-color: transparent;

  > a {
    outline: none;
  }
}

.prev {
  background-image: url('icon-pagination-prev.png');
}

.next {
  background-image: url('icon-pagination-next.png');
}
