.reset-password-form {
  padding: 50px 0 14px;
  margin: 0 300px;
  height: calc(100vh - 60px - 42px - 50px); // header height - breadcrumb height - footer height
  h4 {
    font-weight: bold;
    font-size: 20px;
    color: #525051;
    margin-top: 40px;
    border-top: 1px solid #e7e8ea;
    padding-top: 25px;
  }
  :global {
    .form-field {
      width: 100%;
      &.error {
        color: #ff3100;
        > div:first-child {
          border: 1px solid #ff3100;
        }
      }
    }
  }
}
.row {
  display: flex;
  margin-bottom: 22px;
  label {
    display: block;
    flex: 0 0 20%;
    align-self: center;
    font-size: 14px;
    color: #343434;
    font-weight: bold;
  }

  .input-with-label {
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    .input {
      flex: 0 0 66%;
    }
  }
}
.actions {
  text-align: right;
}
