.info{
  position: absolute;
  background-color: #FFF;
  transform: translateX(-50%) translateY(-100%);
  padding: 10px 8px;
  width:320px;
  height: 120px;
  border-radius:4px;
  box-shadow: 1px 2px 5px 5px rgba(0,0,0,0.15);
  &:after{
    content: ' ';
    display: block;
    position: absolute;
    bottom:-20px;
    left:calc(50% - 5px);
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:10px solid #fff;
    border-bottom:10px solid transparent;
  }
  .group{
    display: flex;
    margin-bottom:12px;
    .label{
      flex:4;
    }
    .text{
      flex:6;
    }
    a{
      flex:1;
      text-align: center;
    }
  }
}
