.schedule-table {
  background-color: transparent;
}

.today {
	font-size: 18px;
	color: #131313;
	margin: 5px 0 22px;
}

.content {
  border-top: 1px solid #e7e8ea;
  padding: 20px 20px 40px;
}

.react-table {
  margin: 25px 18px 0;
}

.table {
  width: 100%;

  td,
  th {
    padding: 0;
  }
}

.thead {
  background-color: #1e526c;
}

.th-inner {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 14px 27px 16px;
  text-align: left;
}

.th-inner--sort-asc,
.th-inner--sort-desc {
  @extend .th-inner;

  cursor: pointer;

  &:after {
    background: url('icon-sort-desc.png') no-repeat;
    content: '';
    display: inline-block;
    height: 7px;
    margin-left: 8px;
    width: 11px;
  }
}

.th-inner--sort-asc {
  &:after {
    transform: rotate(180deg);
  }
}

.tr {
  border-bottom: 1px solid #e7e8ea;
}

.td-inner {
  font-size: 14px;
  padding: 16px 27px;

  > a {
    color: #3b73b9;
  }
}

.td-inner_date {
  white-space: nowrap;
}
