.my-drones-tabs {
  border-bottom: 1px solid #e7e8ea;
  padding-left: 15px;
  overflow: hidden;
}

.tab {
  background-color: #e7e8ea;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  float: left;
  height: 46px;
  font-size: 14px;
  font-weight: 700;
  line-height: 45px;
  margin-left: 7px;
  text-align: center;
  width: 150px;

  &:first-child {
    margin-left: 0;
  }
}

.tab_active {
  background-color: #315b95;
  color: #fff;
  cursor: default;

  @extend .tab;
}
