.button {
  min-width: 115px;
  color: white;
  border: none;
  font-weight: bold;
}

.color-gray {
  background: #4c4c4c;
}

.color-blue {
  background: #315b95;
}

.size-normal {
  padding: 13px 10px;
}

.size-medium {
  height: 38px;
  padding: 0 10px;
}

.color-black {
  background: #4c4c4c;
}

.color-silver {
  background: #67879a;
}

.color-red {
  background: #f00;
}
