.dashboard-request{
    background-color: #fff;
    margin-right: 22px;
    display: flex;
    flex-direction: column;
    border: 1px solid #D9D9D9;

    .tab-container {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 21px 21px 0px 20px;
        border-bottom: 1px solid #DBDBDB;

        .date-container{
            margin-top: 40px;
            margin-right: 20px;
            margin-left: auto;
            font-size: 18px;
            font-weight: 500;
        }
    }
    .table-container {
        margin: 27px 20px 0px 27px;

        table {
            font-size: 14px;
            width: 100%;

            thead {
                background-color: #184059;

                th {
                    text-align: left;
                    font-weight: normal;
                    padding: 20px 30px 20px 25px;
                    color: #fff;

                }
            }

            tbody {
                tr {
                    border-bottom: 1px solid #E7E7E7;

                    td {
                        padding: 20px 30px 20px 25px;
                        min-height: 67px;
                        max-width: 183px;
                    }
                }
                
                tr:last-child {
                    border-bottom: 0;
                }


            }
        }
    }

    .pagination-container {
        width: 100%;
        padding: 20px 70px 30px 30px;
    }
}
