.history-wrap{
  width: 100%;
  height: 100%;
  position: absolute;
}
.map-history{
  width: 100%;
  height: 100%;
  position: absolute;
}
.no-history{
  width: 100%;
  height: 100%;
  font-size: 24px;
  text-align: center;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.history-toolbar{
  position: absolute;
  bottom:20px;
  left:0;
  right:0;
  margin:0 auto;
  width:85%;
  height: 80px;
  background-color: #FFF;
  .slider{
    padding: 10px 20px;
  }
  .info{
    text-align: center;
    strong{
      font-weight: 600;
    }
  }
}
