.my-request-table {
  width: 100%;
}

.thead {
  background-color: #1e526c;
}

.th {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 14px 27px 16px;
  text-align: left;
}

.tr {
  border-top: 1px solid #e7e8ea;

  &:first-child {
    border-top: 0;
  }
}

.td {
  font-size: 14px;
  padding: 12px 23px;
  white-space: nowrap;

  > a {
    color: #3b73b9;
  }
}
