

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 21px 0;
}

.title {
  color: #131313;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.note {
  background: url("icon-gallery-note-drone.png") no-repeat left center;
  color: #4d4d4d;
  font-size: 12px;
  margin: 0;
  padding-left: 43px;
}
