.edit-data-header {
	display: flex;
	margin: 17px 27px 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(140,140,140,.29);
  .title {
		font-size: 24px;
		flex: 0 1 310px;
		align-self: center;
		padding: 5px 0;
	}
}
