.upload-picture {
  padding: 40px 0 40px;
  margin: 25px;
  border-bottom: 1px solid #e7e8ea;
}

.row {
	display: flex;
	label {
		flex: 0 0 24%;
		font-size: 14px;
		color: #343434;
		font-weight: bold;
		align-self: center;
	}
}

.upload-input {
	flex: 0 0 56%;
	margin-right: 18px;
}
.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.file-input + label {
  flex: 0 0 100%;
  display: block;
  font-size: 14px;
  color: #343434;
  align-self: center;
  width: 100%;
  height: 38px;
  border: 1px solid #ebebeb;
  padding: 9px 12px;
  &.browse-btn {
    flex: none;
    width: 94px;
    border: none;
    color: #fff;
    font-weight: bold;
    background-color: #315b95;
    cursor: pointer;
    text-align: center;
    display: inline-block;
  }
}

.upload-btns {
  padding: 0;
  text-align: right;
  background: #fff;
	margin-left: auto;
}

.btnMargin {
  margin-right: 12px;
  padding: 9px 10px;
  min-width: 94px;
  &:last-child {
  	margin-right: 0;
  }
}


.drop-placeholder {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;

  .inner {
    border: 4px dashed #ccc;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
}
