.controls {
  display: flex;
  border-top: 1px solid #e7e8ea;
  justify-content: flex-end;
  margin-top: 29px;
  padding-top: 21px;

  > button {
    margin-left: 12px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.content {
  padding: 0 35px 26px;
}

.label {

  color: #333333;
  display: block;
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 26px;
  text-align: center;

  &:first-child {
    border-top: 0;
  }
}

.comment-field {
  border: 1px solid #ebebeb;
  display: block;
  height: 164px;
  margin: 7px 0 0 0;
  outline: none;
  width: 100%;
}

.star-rating {
  text-align: center;
  padding-bottom: 27px;
  padding-top: 10px;
}

.rate-btn {
  background-color: #315b95;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 42px;
  line-height: 42px;
  outline: none;
  padding: 0 18px;
}

.comment {
  border-top: 1px solid #e7e8ea;
  padding-top: 10px;
  text-align: center;
}
