.browse-provider-header {
  width: 100%;
  .search-filter-row {
    display: flex;
    align-items: center;
    padding: 5px 25px 5px 28px;
    background-color: #fff;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    /*search-input*/
    .search-input {
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-right: 30px;
      .icon-grey-search {
        background: url('icon-grey-search.png') no-repeat 0 0;
        width: 16px;
        height: 16px;
        display: inline-block;
        flex-flow: 0;
        position: relative;
        top: 2px;
      }
      input {
        font-size: 14px;
        color: #525051;
        height: 30px;
        padding: 5px 10px;
        flex-grow: 1;
        border: none;
      }
    }
    /*filter btn*/
    .filter {
      flex-grow: 0;
      .filter-btn {
        font-size: 14px;
        color: #898989;
        display: flex;
        align-items: center;
      }
      span {
        display: block;
      }
      .icon-filter {
        background: url('icon-filter-provider.png') no-repeat 0 0;
        width: 19px;
        height: 17px;
        display: block;
        margin-left: 8px;
        position: relative;
        top: -2px;
      }
    }
  }

  /*sort row*/
  .sort-row {
    display: flex;
    align-items: center;
    padding: 15px 25px 15px 28px;
    border: 1px solid #d8d8d8;
    border-top: 0; 
    border-left: 0;
    background: #fff;
    .near-by {
      font-size: 16px;
      color: #525051;
      font-weight: bold;
      flex-grow: 1;
    }
    .sort-by-dropdown {
      flex-grow: 0;
      .selected-sort {
        a {
          display: flex;
          align-items: center;
          color: #525051;
          font-size: 14px;
        }
        span {
          display: block;
        }
        .icon-sort-dropdown {
          background: url('icon-sort-dropdown.png') no-repeat 0 0;
          width: 15px;
          height: 9px;
          margin-left: 7px;
        }
      }
    }
  }

}
:global {
  .selectSort {
    .Dropdown-control  {
      min-width: 120px;
      position: relative;
      padding-right: 22px;
      padding-left: 50px;
      border: none;
      color: #525051;
      &:hover {
        box-shadow: none;
      }
      &:after {
        content: 'Sort by';
        position: absolute;
        left: 0;
        top: 7px;
      }
      .Dropdown-arrow {
        right: 0;
      }
    }
  }
}
