.status-detail-map-route {
  height: 100%;
  position: relative;
}

.map-legends {
  bottom: 18px;
  left: 16px;
  position: absolute;
}

.drone-eta {
  bottom: 18px;
  position: absolute;
  right: 16px;
}
