.textarea-field {
  border: 1px solid #ebebeb;
  width: 100%;

  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    resize: none;
    background: transparent;
    color: black;
    border: none;

    &.size-big {
      min-height: 265px;
    }

    &.size-small {
      min-height: 50px;
    }
  }
}

.readonly-false {
  background-color: #fff;
}

.readonly-true {
  background-color: #efefef;

  textarea {
    outline: none;
  }
}
