.status-detail-info {
  background-color: transparent;

  :global {

  }
}

.table {
  font-size: 14px;
  width: 100%;
}

.th {
  color: #5c5c5c;
  font-weight: 700;
  text-align: left;
}

.td {
  color: #343434;
}
