.mission-planner-header {
  display: flex;
  margin: 0 30px 19px;
  justify-content: space-between;
  position: relative;
}

.title {
  color: #333333;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  padding: 21px 0 13px;
}

.form {
  display: flex;
}

.label {
  display: block;
  line-height: 36px;
  padding-right: 10px;
}

.text-field {
  display: inline-block;
  padding-right: 10px;
  width: 100%;
}

.header-left {
  width: 50%;
}

.header-right {
  padding-top: 66px;
}

.list-all {
  background: #315b95;
  border: none;
  color: white;
  display: inline-block;
  font-weight: bold;
  height: 38px;
  line-height: 38px;
  min-width: 115px;
  margin-left: 10px;
  padding: 0 10px;

  &:hover {
    color: #fff;
  }
}
