.item-container {
  width: 100%;
  flex-direction: column;
  display: flex;
  margin: 0 20px 20px; 
  padding-right: 40px;

  .item-summary {
    display: flex;
    flex-direction: row;
    border: 1px solid #DADADA;
    padding: 22px 17px;

    > ul {
      flex: 3;
      flex-direction: row;
      display: flex;
      font-size: 14px;
      flex-wrap: wrap;

      > li {
        min-width: 290px;
        margin: 0 0 10px 20px;

        > label {
          font-weight: bold;
          color: #5c5c5c;
        }

      }
    }

  }
}