@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');

@import "../../node_modules/react-date-picker/index.css";
@import "../../node_modules/react-select/dist/react-select.css";
@import "../../node_modules/react-redux-toastr/src/styles/index.scss";
@import '../../node_modules/rc-calendar/assets/index.css';
@import "../../node_modules/slick-carousel/slick/slick.css";

@import "slick-theme";
@import "tabs";
@import "table";
@import "mixins";
@import "fonts";
@import "normalize";
@import "spaces";
@import "base";

