.button {
  padding: 13px 10px;
  min-width: 115px;
  color: white;
  border: none;
  font-weight: bold;
}

.color-gray {
  background: #4c4c4c;
}

.color-blue {
  background: #315b95;
}

.color-black {
  background: #4c4c4c;
}