.zones {
  background-color: transparent;
  &.error{
    .no-zone{
      color:red;
    }
  }
  :global {

  }
}

.label {
  line-height: 36px;
}
.color{
  text-transform: capitalize;
}

.item {
  margin-top: 15px;

  + .item {
    border-top: 1px solid #ccc;
    padding-top: 15px;
  }
}

.actions {
  margin-top: 5px;
}
