
.mission-prog-route-camera {
  height: 100%;
  display: flex;
  margin: 20px 23px;
  border-bottom: 1px solid #e7e8ea;
  padding-bottom: 40px;
}

.left-col {
  width: 73%;
  height: 100%;
  
}

.right-col {
  width: 27%;
  height: 100%;
}

