.map-legends {
  position: absolute;
  display: flex;
  bottom: 16px;
  left: 12px;
  border: 1px solid #c7c7c7;
  background: white;
  height: 55px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.13);
  padding: 0 15px 0 16px;
}

.location {
  display: flex;
  align-items: center;

  + .location {
    margin-left: 35px;
  }

  i {
    display: block;
    margin-right: 10px;
    background-repeat: no-repeat;
  }
}


.icon-standby-drone-sm {
  background-image: url("icon-standby-drone-sm.png");
  width: 30px;
  height: 38px;
}

.icon-booked-drone-sm {
  background-image: url("icon-booked-drone-sm.png");
  width: 30px;
  height: 38px;
}

.icon-error-drone-sm {
  background-image: url("icon-error-drone-sm.png");
  width: 30px;
  height: 38px;
}
