.customer-contact-details {
	padding-left: 20px;
  .title {
  	font-size: 16px;
  	color: #131313;
		font-weight: bold;
		padding-bottom: 10px;
  }
}
.customer-info {
	padding-left: 123px;
	margin-top: 15px;
	position: relative;
	border-left: 1px solid #cecece;
	.user-picture {
		width: 86px;
		height: 86px;
		border-radius: 50%;
		background: url('user-pic.png');
		background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    left: 20px;
    top: 6px;
	}
}
.data-row {
	display: flex;
	font-size: 14px;
	color: #343434;
	padding: 8px 0;
	.lable {
		min-width: 90px;
		font-weight: bold;
	}
	.value {
		font-weight: normal;
		line-height: 1.3;
	}
}
