.last-completed-missions {
  h4.title {
  	font-size: 20px;
  	color: #525051;
  	margin: 27px 17px;
  }
}
.completed-mission-conatiner {
  	display: flex;
  	justify-content: space-between;
  	margin: 0 8px 50px;
}
