.shedule-calendar {
  padding: 30px 0 10px;
  width: 100%;

  :global {
    .rc-calendar {
      width: 90%;
      margin: 0 auto;
      box-shadow: none;
      border-radius: 0;
      border: none;
    }

    .rc-calendar-next-year-btn,
    .rc-calendar-prev-year-btn {
      display: none;
    }

    .rc-calendar-header {
      border-bottom: none;
      position: relative;

      .rc-calendar-my-select {
        display: inline-block;
        min-width: 200px;
      }

      .rc-calendar-next-month-btn,
      .rc-calendar-prev-month-btn {
        position: relative;
        left: 0;
        right: 0;
        &:after {
          content: '';
          width: 26px;
          height: 26px;
          background-position: 0 0;
          background-repeat: no-repeat;
          display: inline-block;
          position: relative;
          top: 5px;
        }
      }

      .rc-calendar-prev-month-btn {
        &:after {
          background: url('../../../../styles/img/icon-prev-month.png');
          left: -5px;
        }
      }

      .rc-calendar-next-month-btn {
        &:after {
          background: url('../../../../styles/img/icon-next-month.png');
          right: -8px;
        }
      }

    }

    .rc-calendar-calendar-body {
      height: auto;
      padding: 40px 10px;
    }

    .rc-calendar-year-select,
    .rc-calendar-month-select,
    .rc-calendar-day-select {
      font-weight: normal;
      color: #006baf;
      font-size: 24px;
    }

    .rc-calendar-column-header {
      font-size: 20px;
      color: #597a96;
      font-weight: normal;
    }

    .rc-calendar td {
      font-size: 22px;
      color: #999999;
      font-family: 'Open Sans';
    }

    .rc-calendar-date {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      line-height: 48px;
      margin: 5px auto;
    }

    .rc-calendar-next-month-btn-day.rc-calendar-disabled-cell .rc-calendar-date,
    .rc-calendar-last-month-cell.rc-calendar-disabled-cell .rc-calendar-date,
    .rc-calendar-selected-day .rc-calendar-date {
      color: rgba(#95acbc, 0.3);
    }

    .rc-calendar-disabled-cell .rc-calendar-date,
    .rc-calendar-selected-day .rc-calendar-date {
      background-color: transparent;
      color: #999999;
    }

    .rc-calendar-today .rc-calendar-date {
      border-color: #fff;
    }

    .rc-calendar-footer {
      display: none;
    }

    .rc-calendar-date-missions {
      background-color: #8f8056;
      border-radius: 50%;
      color: #fff;
      display: block;
      height: 100%;
      position: relative;
    }

    .rc-calendar-date-missions-qty {
      color: #8f8056;
      font-size: 14px;
      position: absolute;
      left: 60px;
      white-space: nowrap;
    }

    .rc-calendar-date-missions-selected {
      background-color: #67879a;
    }

    .rc-calendar-date-missions-selected .rc-calendar-date-missions-qty {
      color: #67879a;
    }
  }

}
