.shedule-calendar {
  width: 100%;
  border-bottom: 1px solid rgba(224,224,224,0.73);
  padding: 30px 0 10px;
  :global {
  	.rc-calendar {
  		width: 90%;
  		margin: 0 auto;
  		box-shadow: none;
  		border-radius: 0;
  		border: none;
  	}
  	.rc-calendar-next-year-btn,
  	.rc-calendar-prev-year-btn {
  		display: none;
  	}
  	.rc-calendar-header {
  		border-bottom: none;
  		.rc-calendar-next-month-btn,
  		.rc-calendar-prev-month-btn {
  			position: relative;
  			left: 0;
  			right: 0;
  			&:after {
  				content: '';
  				width: 26px;
  				height: 26px;
  				background-position: 0 0;
  				background-repeat: no-repeat;
  				display: inline-block;
  				position: relative;
  				top: 5px;
  			}
  		}
  		.rc-calendar-prev-month-btn {
  			&:after {
  				background: url('../../../../styles/img/icon-prev-month.png');
  				left: -5px;
  			}
  		}
  		.rc-calendar-next-month-btn {
  			&:after {
  				background: url('../../../../styles/img/icon-next-month.png');
  				right: -8px;
  			}
  		}
  	}
  	.rc-calendar-body {
  		height: auto;
  		padding: 40px 10px;
  	}
  	.rc-calendar-year-select, 
  	.rc-calendar-month-select, 
  	.rc-calendar-day-select {
  		font-weight: normal;
  		color: #006baf;
  		font-size: 24px;
  	}
  	.rc-calendar-column-header {
  		font-size: 20px;
  		color: #597a96;
  		font-weight: normal;
  	}
  	.rc-calendar td {
		font-size: 22px;
		color: #999999;
  		font-family: 'Open Sans';
  	}
  	.rc-calendar-next-month-btn-day .rc-calendar-date,
  	.rc-calendar-last-month-cell .rc-calendar-date {
  		color: rgba(149, 172, 188, 0.3);
  	}
  	.rc-calendar-date {
  		width: 48px;
  		height: 48px;
  		border-radius: 50%;
  		line-height: 48px;
  		margin: 5px auto;
  	}
  	.rc-calendar-footer {
  		display: none;
  	}
  	.rc-calendar-selected-day .rc-calendar-date {
  		background: #8f8056;
  	}
  	.rc-calendar-today .rc-calendar-date {
  		background-color: #67879a;
  		border: 1px solid #67879b;
  		position: relative;
  		color: #fff;
  		&:after {
  			content: '5\00a0missions';
  			position: absolute;
  			left: 60px;
  			font-size: 14px;
  			color: #67879a;
  		}
  	}
    .rc-calendar-tbody {
      tr:first-child {
        td[title="2016-12-2"] {
          font-size: 30px;
          .rc-calendar-date {
            position: relative;
            background-color: #8f8056;
            color: #fff;
            &:after {
              content: '3\00a0missions';
              position: absolute;
              left: 60px;
              font-size: 14px;
              color: #8f8056;
            }
          }
          
        }
      }
      tr:nth-child(3) {
        td[title="2016-12-11"] {
          .rc-calendar-date {
            position: relative;
            background-color: #8f8056;
            color: #fff;
            &:after {
              content: '5\00a0missions';
              position: absolute;
              left: 60px;
              font-size: 14px;
              color: #8f8056;
            }
          }
          
        }
      }
      tr:nth-child(5) {
        td[title="2016-12-27"] {
          .rc-calendar-date {
            position: relative;
            background-color: #8f8056;
            color: #fff;
            &:after {
              content: '4\00a0missions';
              position: absolute;
              left: 60px;
              font-size: 14px;
              color: #8f8056;
            }
          }
          
        }
      }
      tr:nth-child(4) {
        td[title="2016-12-21"] {
          .rc-calendar-date {
            position: relative;
            background-color: #8f8056;
            color: #fff;
            &:after {
              content: '2\00a0missions';
              position: absolute;
              left: 60px;
              font-size: 14px;
              color: #8f8056;
            }
          }
          
        }
      }

    }
  }

}
