.header {
  background: black;
  width: 100%;
  color: white;
  position: relative;
  z-index: 2;

  > ul {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    
    > li {
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 22px;
      flex-grow: 0;

      + li {
        border-left: 1px solid #484848;
      }
      
      &.search {
        flex-grow: 1;
      }
      &.user {
        padding-right: 45px;
        line-height: 1.2;
      }
    }

    > .pages {
      border-left: 0;
      flex-grow: 1;
      justify-content: center;
      display: flex;

      > ul {
        width: 80%;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;

        > li {
          justify-content: center;
          margin: 0 10px;
          display: flex;
          align-items: center;
          height: 58px;
          flex: 1;

          > a {
            font-size: 14px;
            color: #fff;
            height: 60px;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding: 8px 8px 0;
            border-bottom: 8px solid transparent;
            &:hover, &:focus {
              border-bottom: 8px solid #315b95;
            }
          }

        } 

        :global {
          .active {
            border-bottom: 5px solid #214A84;
          }
        }
      }
    }
  }
}

.branding {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Proxima Nova Rg';
}

.location {
  i {
    display: inline-block;
    background: url("icon-location-gray.png") no-repeat;
    width: 14px;
    height: 19px;
    margin-right: 15px;
  }
}

.notifications {
  background: url("icon-notification.png") no-repeat center center;
  cursor: pointer;
  position: relative;
  .counter {
    position: relative;
    top: -5px;
    left: 10px;
    color: white;
    background: #ff0000;
    border-radius: 50% 50%;
    width: 13px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
  }
}

.signup, .login {
  a {
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
  }
  
}