.footer {
  width: 100%;
  background-color: #101010;
  min-height: 50px;
  display: flex;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 18px 0 30px; 
  flex-direction: row;


  .copyright {
    display: flex;
  }

  ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;

    li {
      margin: 0 25px;

      a {
        color: #fff;
      }
    }
  }
}