.footer {
  background-color: #131313;
  color: #fff;
  font-size: 14px;
  line-height: 49px;
  padding: 0 35px;
}

.footer:after {
  clear: both;
  content: '';
  display: table;
}

.copyright {
  float: left;
  margin: 0;
  padding: 0;
}

.menu {
  float: right;
}

a.menu-item {
  color: #fff;
  margin-right: 65px;
  text-decoration: none;
}

.menu-item:last-child {
  margin-right: 0;
}
