.footer {
  .footer-content {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 10px 26px 10px 36px;
    background: #131313;
  }
  
  .copy-right {
    font-size: 14px;
    color: #ffffff;
  }
  .footer-nav {
    margin-left: auto;
    ul {
      display: flex;
      li {
        list-style: none;
        padding-left: 66px;
        a {
          font-size: 14px;
          color: #ffffff;
        }
      }
    }
  }
}