.map-legends {
  position: absolute;
  display: flex;
  right: auto;
  left: 16px;
  bottom: 20px;
  width: auto;
  border: 1px solid #c7c7c7;
  background: white;
  height: 55px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.13);
  padding: 0 35px 0 16px;
}

.location {
  display: flex;
  align-items: center;

  + .location {
    margin-left: 35px;
  }
  
  i {
    display: block;
    margin-right: 10px;
    background-repeat: no-repeat;
  }
}

.icon-drone {
  background-image: url("icon-drone-location-md.png");
  width: 30px;
  height: 38px;
}

.icon-target {
  background-image: url("icon-location-green-md.png");
  width: 22px;
  height: 31px;
}

.icon-start {
  background-image: url("icon-location-red-md.png");
  width: 22px;
  height: 31px;
}

.drone-eta {
  position: absolute;
  border: 1px solid #c7c7c7;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  color: #131313;
  padding: 17px;
  span {
    font-weight: bold;
    display: inline-block;
  }

}