.my-request-status-view {
  background-color: #f3f3f3;
}

.wrap {
  padding: 0 30px 35px;
}

.panel {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 19px 24px;
}
