.my-drones-table {
  position: relative;
}

.react-table {
  margin: 25px 18px 0;
}

.table {
  width: 100%;

  td,
  th {
    padding: 0;
  }
}

.thead {
  background-color: #1e526c;
}

.th-inner {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 14px 27px 16px;
  text-align: left;
}

.th-inner--sort-asc,
.th-inner--sort-desc {
  @extend .th-inner;
  cursor: pointer;

  &:after {
    background: url('icon-sort-desc.png') no-repeat;
    content: '';
    display: inline-block;
    height: 7px;
    margin-left: 8px;
    width: 11px;
  }
}

.th-inner--sort-asc {
  &:after {
    transform: rotate(180deg);
  }
}

.tr {
  border-bottom: 1px solid #e7e8ea;
}

.td-inner {
  font-size: 14px;
  padding: 16px 27px;

  > a {
    color: #3b73b9;
  }
}

.td-inner_date {
  white-space: nowrap;
}

.table-head {
	display: flex;
	.display {
		font-size: 14px;
		color: #131313;
    margin: 30px 20px 0;
	}
	.filter-btn {
		margin-left: auto;
		.icon-filter-black {
			width: 18px;
			height: 17px;
			background: url('icon-filter-black.png');
			background-position: 0 0;
			background-repeat: no-repeat;
			display: block;
			position: absolute;
			left: -25px;
			top: 2px;
		}
		a {
			font-size: 14px;
			color: #131313;
			display: block;
			position: relative;
		}
	}
}

.navigation {
  margin: 25px 20px;
}

.navigation:after {
  clear: both;
  content: '';
  display: table;
}

.pagination {
  float: right;
}

.perpage {
  float: left;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: baseline;

  > li {
    list-style: none;
    color: #babfca;
    font-size: 11px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }
  }
}

%action_link {
  color: #babfca;
  display: block;
  font-size: 11px;
  font-weight: bold;
  text-align: center;

  &:hover {
    color: #babfca;
  }
}

.view-detail,
.edit,
.delete {
  @extend %action_link;
}


%action_icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  content: '';
  display: block;
  margin: 0 auto;
}

.view-detail:before {
  @extend %action_icon;

  width: 27px;
  height: 17px;
  background: url('icon-view-detail.png');
}

.edit:before {
  @extend %action_icon;

  width: 20px;
  height: 20px;
  background: url('icon-edit-row.png');
}

.delete:before {
  @extend %action_icon;

  width: 15px;
  height: 22px;
  background: url('icon-delete-row.png');
}

.no-drones {
  padding: 30px 20px;
}

.no-image {
  background: url('icon-drone-black.png') no-repeat center;
  opacity: 0.5;
  border: 1px solid rgb(77, 77, 77);
  height: 95px;
  width: 148px;
}
