.last-completed-missions {
	padding: 30px 0 10px;
}
.last-completed-missions-items {
  padding: 12px 19px 0;
}
.completed-mission-conatiner {
  	display: flex;
  	justify-content: space-between;
  	margin: 0 8px 50px;
}
