.status-project-info {
  color: #343434;
  font-size: 14px;
  line-height: 24px;
  width: 100%;

  th {
    font-weight: 600;
    text-align: left;
    padding: 6px 70px 6px 0;
    white-space: nowrap;
  }

  td {
    padding: 6px 0;
  }
}
