.location {
  display: flex;
  font-size: 15px;
  position: relative;
  i {
    display: block;
    margin: 0 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 25px;
    height: 22px;
  }
}

.text {
  margin-top: -5px;
}

.icon-red {
  background-image: url("icon-location-red.png");
}

.icon-green {
  background-image: url("icon-location-green.png");
}
.clear{
  cursor: pointer;
  position: absolute;
  right:10px;
  top:22px;
}
.hint{
  cursor: pointer;
  font-style: italic;
  &.error{
    color:red;
  }
}
