.home-section-header {
  display: flex;
  align-items: center;
  padding: 10px 37px 0;
  p {
    font-size: 20px;
    color: #525051;
    font-family: 'Proxima Nova Rg';
    margin: 15px 0;
  }
  a {
    display: block;
    font-size: 14px;
    color: #315b95;
    margin-left: auto;
    text-align: right;
  }
}