.last-completed-mission-item {
  margin: 0 10px;
  width: 25%;

  h4 {
  	font-size: 18px;
  	color: #315b95;
  	font-weight: bold;
  	margin: 15px 0 10px;
  }

  .row {
  	display: flex;
  	padding-top: 2px;
  	.left {
  		width: 42%;
  		font-size: 14px;
  		color: #343434;
  	}
  	.right {
  		width: 58%;
  		font-size: 14px;
  		color: #343434;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  	}
  	.id {
      a {
        color: #006baf;
      }
  	}
  }
}

.mission-map {
  height: 220px;
}

.rating {
  background-color: #fff;
}
